.first,
.second,
.third {
  color: #fff;
  width: 42px;
  display: block;

  border-top: 4px solid #fff;
}

.hideSecond {
  display: none;
}

.firstCross {
  color: #fff;
  width: 42px;
  display: block;

  border-top: 4px solid #fff;
  transform: rotate(45deg) translate(5px, 4px);
}
.thirdCross {
  color: #fff;
  width: 42px;
  display: block;

  border-top: 4px solid #fff;
  transform: rotate(-45deg) translate(4px, -4px);
}

.first,
.second,
.third,
.firstCross,
.thirdCross {
  transition: transform 200ms ease-in-out;
  border-radius: 4px;
}
