.navBar {
  padding: 16px 72px;
  background-color: #1c2b35;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  gap: 32px;

  position: relative;
}

.navList a {
  color: #fff;
  text-decoration: none;
  margin: 0 12px;
}

.hamburger {
  display: none;
}

.quantity {
  color: #fff;

  position: absolute;
  right: 6px;
  top: -16px;
}

.shopping_basket {
  color: #fff;
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 768px) {
  .navList {
    display: none;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    cursor: pointer;
  }
}
